form {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  border-radius: 8px;
  background:linear-gradient(#b0b6ef, #d2caca) ;
  padding: 2rem;
  width: 100%;
  gap: 16px;
  & 
  label {
    display: block;
  }
  & input {
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    transition: border-color 0.3s;
  
  }
  & 
  input:focus {
    border-color: #007bff;
    outline: none;
  }


}


#secret-btn {
  background-color: transparent;
  color: #666;
  cursor: pointer;
  border: none;
}



